
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<center>
    <br />
    <br />
    <br />
    <br />
    <h1 style="font-size: 100px; color: white">Mitglieder</h1>
    <p style="font-size: 25px; color: white">
        Genieße die Vorteile als Mitglied!
        <br />
        Jetzt schon über 50 Mitglieder, bekommen Gutscheine für Kurse und vieles Weiteres. Möchtest du das auch?
        <br />
        Registriere dich jetzt kostenlos und lass dir deine Daten, von überall aus anzeigen.
        <br />
        <br />
        Zum Registrieren, links auf den Eintrag drücken und Daten angeben.
        <br />
        Bist du schon Registriert, dann melde dich an und lass dir deine Daten von überall aus anzeigen!
    </p>
</center>


