@model Kletterverein.Models.User

@{
    ViewData["Title"] = "Registration";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@* Reihenfolge der divs muss beachtet werden
    geht nicht anders -> bei validierung vom login würde sonst wieder die registrierenseite angezeigt werden*@

<div class="form">


    @if (ViewBag.IsLogin == true)
    {
        <ul class="tab-group">
            <li class="tab"><a href="#signup">Registrieren</a></li>
            <li class="tab active"><a href="#login">Einloggen</a></li>
        </ul>
    }
    else
    {
<ul class="tab-group">
    <li class="tab active"><a href="#signup">Registrieren</a></li>
    <li class="tab"><a href="#login">Einloggen</a></li>
</ul>
            }

      

<div class="tab-content">
    @if (ViewBag.IsLogin == true)
    {
        <div id="login">
            <h1>Willkommen zurück!</h1>

            <form asp-controller="user" asp-action="login" methode="post">

                <div class="field-wrap">
                    <label asp-for="EMail">Emailadresse *</label>
                    <input type="email" asp-for="EMail" />
                    <span style="color:red;" asp-validation-for="EMail"></span>
                </div>

                <div class="field-wrap">
                    <label asp-for="Password">Passwort *</label>
                    <input type="password" asp-for="Password" />
                    <span style="color:red;" asp-validation-for="Password"></span>
                </div>

                <button class="button button-block">Einloggen</button>

            </form>

        </div>

        <div id="signup">
            <h1>Kostenlos registrieren!</h1>

            <form asp-controller="user" asp-action="registration" methode="post">

                <div class="top-row">
                    @if (Model != null && Model.Lastname != null)
                    {
                        <div class="field-wrap">
                            <label class="active" asp-for="Lastname">Nachname *</label>
                            <input type="text" asp-for="Lastname" />
                            <span style="color:red;" asp-validation-for="Lastname"></span>
                        </div>
                    }
                    else
                    {
                        <div class="field-wrap">
                            <label asp-for="Lastname">Nachname *</label>
                            <input type="text" asp-for="Lastname" />
                            <span style="color:red;" asp-validation-for="Lastname"></span>
                        </div>
                    }

                    @if (Model != null && Model.Firstname != null)
                    {
                        <div class="field-wrap">
                            <label class="active" asp-for="Firstname">Vorname *</label>
                            <input type="text" asp-for="Firstname" />
                            <span style="color:red;" asp-validation-for="Firstname"></span>
                        </div>
                    }
                    else
                    {
                        <div class="field-wrap">
                            <label asp-for="Firstname">Vorname *</label>
                            <input type="text" asp-for="Firstname" />
                            <span style="color:red;" asp-validation-for="Firstname"></span>
                        </div>
                    }

                </div>

                <div class="field-wrap">
                    <label asp-for="Password">Passwort *</label>
                    <input type="password" asp-for="Password" />
                    <span style="color:red;" asp-validation-for="Password"></span>
                </div>

                <div class="field-wrap">
                    <label class="birthday" asp-for="Birthdate">Geburtsdatum *</label>
                    <input type="date" asp-for="Birthdate" />
                    <span style="margin-left:130px; margin-top:5px; color:red;" asp-validation-for="Birthdate"></span>
                </div>

                @if (Model != null && Model.EMail != null)
                {
                    <div class="field-wrap">
                        <label class="active" asp-for="EMail">Emailadresse *</label>
                        <input type="email" asp-for="EMail" />
                        <span style="color:red;" asp-validation-for="EMail"></span>
                    </div>
                }
                else
                {
                    <div class="field-wrap">
                        <label asp-for="EMail">Emailadresse *</label>
                        <input type="email" asp-for="EMail" />
                        <span style="color:red;" asp-validation-for="EMail"></span>
                    </div>
                }

                <div class="field-wrap">
                    <select style="padding: 5px; font-size: 22px; background: rgba(160, 179, 176, .25); color: #0eb3de; " class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" asp-for="Gender">
                        <option value="0" selected>Geschlecht</option>
                        <option value="1">männlich</option>
                        <option value="2">weiblich</option>
                    </select>
                    <span style="color:red;" asp-validation-for="Gender"></span>
                </div>

                <button type="submit" class="button button-block">Registrieren</button>

            </form>

        </div>
    }
    else
    {
        <div id="signup">
            <h1>Kostenlos registrieren!</h1>

            <form asp-controller="user" asp-action="registration" methode="post">

                <div class="top-row">
                    @if (Model != null && Model.Lastname != null)
                    {
                        <div class="field-wrap">
                            <label class="active" asp-for="Lastname">Nachname *</label>
                            <input type="text" asp-for="Lastname" />
                            <span style="color:red;" asp-validation-for="Lastname"></span>
                        </div>
                    }
                    else
                    {
                        <div class="field-wrap">
                            <label asp-for="Lastname">Nachname *</label>
                            <input type="text" asp-for="Lastname" />
                            <span style="color:red;" asp-validation-for="Lastname"></span>
                        </div>
                    }

                    @if (Model != null && Model.Firstname != null)
                    {
                        <div class="field-wrap">
                            <label class="active" asp-for="Firstname">Vorname *</label>
                            <input type="text" asp-for="Firstname" />
                            <span style="color:red;" asp-validation-for="Firstname"></span>
                        </div>
                    }
                    else
                    {
                        <div class="field-wrap">
                            <label asp-for="Firstname">Vorname *</label>
                            <input type="text" asp-for="Firstname" />
                            <span style="color:red;" asp-validation-for="Firstname"></span>
                        </div>
                    }

                </div>

                <div class="field-wrap">
                    <label asp-for="Password">Passwort *</label>
                    <input type="password" asp-for="Password" />
                    <span style="color:red;" asp-validation-for="Password"></span>
                </div>

                <div class="field-wrap">
                    <label class="birthday" asp-for="Birthdate">Geburtsdatum *</label>
                    <input type="date" asp-for="Birthdate" />
                    <span style="margin-left:130px; margin-top:5px; color:red;" asp-validation-for="Birthdate"></span>
                </div>

                @if (Model != null && Model.EMail != null)
                {
                    <div class="field-wrap">
                        <label class="active" asp-for="EMail">Emailadresse *</label>
                        <input type="email" asp-for="EMail" />
                        <span style="color:red;" asp-validation-for="EMail"></span>
                    </div>
                }
                else
                {
                    <div class="field-wrap">
                        <label asp-for="EMail">Emailadresse *</label>
                        <input type="email" asp-for="EMail" />
                        <span style="color:red;" asp-validation-for="EMail"></span>
                    </div>
                }

                <div class="field-wrap">
                    <select style="padding: 5px; font-size: 22px; background: rgba(160, 179, 176, .25); color: #0eb3de; " class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" asp-for="Gender">
                        <option value="0" selected>Geschlecht</option>
                        <option value="1">männlich</option>
                        <option value="2">weiblich</option>
                    </select>
                    <span style="color:red;" asp-validation-for="Gender"></span>
                </div>

                <button type="submit" class="button button-block">Registrieren</button>

            </form>

        </div>


        <div id="login">
            <h1>Willkommen zurück!</h1>

            <form asp-controller="user" asp-action="login" methode="post">

                <div class="field-wrap">
                    <label asp-for="EMail">Emailadresse *</label>
                    <input type="email" asp-for="EMail" />
                    <span style="color:red;" asp-validation-for="EMail"></span>
                </div>

                <div class="field-wrap">
                    <label asp-for="Password">Passwort *</label>
                    <input type="password" asp-for="Password" />
                    <span style="color:red;" asp-validation-for="Password"></span>
                </div>

                <button class="button button-block">Einloggen</button>

            </form>

        </div>
    }


</div>

    </div>