
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutGallery.cshtml";
}

<div class="slideshow-container">

    <div class="mySlides fade">
        <img class="i" src="~/img/ClimbingIntroduction.jpg" style="width:100%">
    </div>

    <div class="mySlides fade">
        <img class="i" src="~/img/mountain1.png" style="width:100%">
    </div>

    <div class="mySlides fade">
        <img class="i" src="~/img/mountain2.jpeg" style="width:100%">
    </div>

</div>
<br>

<div style="text-align:center">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
</div>
