<div class="footer-top">
    <h3>Danke für's Besuchen!</h3>
    <p>Folge uns jetzt auch auf social Media und erfahre mehr über den Verein!</p>
    <ul class="socials">
        <li><a href="https://www.instagram.com/niki.sillaber/"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UCPXJT_6s2_KABkazrlIIw3g"><i class="fa fa-youtube"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#"><i class="fa fa-snapchat"></i></a></li>
    </ul>
</div>
<div class="footer-bottom">
    <p>copyright &copy;2021 by Niklas Sillaber & Daniel Unterwurzacher</p>
</div>