<div class="wrapper">
    <div class="card">
        <div class="imgBx">
            <img src="http://pngimg.com/uploads/running_shoes/running_shoes_PNG5782.png" alt="nike-air-shoe">
        </div>

        <div class="contentBx">

            <h2>Nike Shoes</h2>

            <div class="description">
                <h3>Description</h3>
                <p>Cool shoes from Nike :)</p>
            </div>

            <a href="#">Buy Now</a>
        </div>

    </div>
</div>