@model Kletterverein.Models.Product

<div class="cont">
    <div class="card">
        <div class="imgBx">
            <img src="http://pngimg.com/uploads/running_shoes/running_shoes_PNG5782.png" alt="nike-air-shoe">
        </div>

        <div class="contentBx">
            <h2></h2>
            <div class="price">
                <h3>Preis : @Model.Price€</h3>
            </div>
            <br>
            <a class="buy" href="#">
                Jetzt kaufen
            </a>
        </div>
    </div>
</div>