@model Kletterverein.Models.Product

@Model

<div class="wrapper">
    <div class="card">
        <div class="imgBx">
            <img src="http://pngimg.com/uploads/running_shoes/running_shoes_PNG5782.png" alt="nike-air-shoe">
        </div>

        <div class="contentBx">

            <h2>@Model.Productname</h2>

            <div class="description">
                <h3>Description</h3>
                <p>@Model.Description</p>
            </div>

            <a href="#">Buy Now</a>
        </div>

    </div>
</div>