@model Kletterverein.Models.Product

<form asp-controller="shop" asp-action="addToCart" methode="post">
    <div class="pCard">

        <div class="pImg">
            <img src="~/img/shoes.png" />
        </div>

        <h2 class="pName">@Model.Productname</h2>

        <input style="visibility:hidden;" type="text" asp-for="ProductId" value="@Model.ProductId" />

        <button class="buy">Jetzt kaufen</button>

    </div>
</form>

