@model List<Kletterverein.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}

<div style="width: 100%; height: 100%; margin-bottom: 5%;">
    <table>
        @foreach (Product p in Model) {
            @if (Model.IndexOf(p) % 3 == 0) {
                @Html.Raw("<tr>")
             }
         
            <td>
                <partial name="productCard" model="@p" />
            </td>

            @if ((Model.IndexOf(p) % 3 == 2) || (Model.IndexOf(p) == Model.Count - 1)) {
                @Html.Raw("</tr>")
             }
         }
    </table>
</div>  




