@model List<Kletterverein.Models.Product>

@{
    ViewData["Title"] = "ShoppingCart";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}

<h1>Mein Warenkorb</h1>


@if (Model != null)
{
    <table>
        @foreach (Product p in Model)
        {
        <tr>
            <td>@p.Productname</td>
            <td><a href="@Url.Action("deleteFromCart","shop", new { prodId = p.ProductId })"><i class="fa fa-trash"></i></a></td>
        </tr>
        }
    </table>
}
