@model List<Kletterverein.Models.Product>

@{
    ViewData["Title"] = "ShoppingCart";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}

<h1>Mein Warenkorb</h1>

@if (Model != null)
 {

<table class="cart" id="cartList">
    <tbody class="articles">
    <th>Produktname</th>
    <th>Preis</th>
    <th>Löschen</th>

    @foreach (Product p in Model) {
        <tr class="article">
            <partial name="productInCart" model="@p" />
        </tr>
    }
    </tbody>
</table>


 } else {
    <p>keine Produkte vorhanden</p>            
 }

<br />
<center>
    <button id="btnToggle">
        Mini-/Maximieren
    </button>
</center>

