* {
    padding: 0;
    margin: 0;
}

.shop {
    width: 100%;
}

.singleProduct {
    text-align: center;
    padding-top: 100px;
    padding-right: 70px;
    padding-left: 100px;
}

/*--------------------------Produktkarte---------------------------------*/

.pCard {
    background-color: #232323;
    padding-bottom: 40px;
    border-radius: 45px;
    border-left: 25px solid transparent;
}

.pCard:hover {
    transition: .9s;
    border-left: 25px solid #1BBFE9;
}

.pCard:not(:hover) {
    transition: .9s;
    border-left: 25px solid transparent;
}

.pName {
    color:white;
    font-weight:bold;
}
