
@{
    ViewData["Title"] = "Index";
}

<center>
    <br />
    <br />
    <br />
    <h1 style="font-size: 100px; color: #525252">Wilkommen!</h1>
    <p style="font-size: 25px; color: #525252">
        Schön dass du da bist! Das ist die offizielle Seite des Klettervereins AlpClimb.<br />
        Hier findest du alle Informationen über den Verein.
    </p>
</center>

